
<div class="container" >
    <div class="row space-top">
      <div class="col-md-12" *ngIf='animal'>
        <h1>Adoption Form for <strong>{{animal.title}}</strong></h1>
        <p>Please fill out everything and correctly, so our colleaues can process your desire as fast as possible!</p>
      </div>
    </div>
    <form [formGroup]='form' (submit)='adoptAnimal()' *ngIf='user'>
        
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Full Name </span>
        </div>
        <input class="form-control"  type="text" formControlName='fullName'>
      </div>
      <div class="alert alert-danger" *ngIf='f.fullName.errors?.required && f.fullName.touched'>
        This field is required
      </div>
      <div class="alert alert-danger" *ngIf='f.fullName.errors?.pattern'>
        Name should have space between and starts with Upper case - ex. Ivan Ivanov
      </div>
  
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Address </span>
        </div>
        <input class="form-control" type="text" formControlName='address'>
      </div>
      <div class="alert alert-danger" *ngIf='f.address.errors?.required && f.address.touched'>
        This field is required
      </div>
      <div class="alert alert-danger" *ngIf='f.address.errors?.pattern'>
        Address should contains city and neihbourhood - ex. "Sofia, Mladost"
      </div>

  
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> Email </span>
        </div>
        <input class="form-control"  type="text" formControlName='email' readonly>
      </div>
  
  
  
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">  PhoneNumber </span>
        </div>
        <input class="form-control"  type="number" formControlName='phoneNumber'>
      </div>
      <div class="alert alert-danger" *ngIf='f.phoneNumber.errors?.required && f.phoneNumber.touched'>
        This field is required
      </div>
      <div class="alert alert-danger" *ngIf='f.phoneNumber.errors?.pattern'>
        Accepted start formats +359 and max 12 symbols
      </div>
  
  
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> BirthDate </span>
        </div>
        <input class="form-control"  type="date" formControlName='birthDate'>
      </div>
      <div class="alert alert-danger" *ngIf='f.birthDate.errors?.required && f.birthDate.touched'>
        This field is required
      </div>
      <div class="alert alert-danger" *ngIf='f.birthDate.errors?.min'>
        You must be above 18!
      </div>
  

     
      <input class="form-control"  type="text" formControlName='animalId' readonly hidden>
      
      
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]='form.invalid'> Send adoption form </button>
      </div>
    </form>
  </div>
  