<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Add Animal</h1>
      <p>Please fill all fields.</p>
    </div>
  </div>
  <form [formGroup]='form' (submit)='addAnimal()'>


    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <fa-icon [icon]="faAngleRight"></fa-icon> Title </span>
      </div>
      <input class="form-control"  type="text" formControlName='title'>
    </div>
    <div class="alert alert-danger" *ngIf='f.title.errors?.required && f.title.touched'>
      This field is required
    </div>



    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faAngleRight"></fa-icon> Breed </span>
      </div>
      <input class="form-control" type="text" formControlName='breed'>
    </div>
    <div class="alert alert-danger" *ngIf='f.breed.errors?.required && f.breed.touched'>
      This field is required
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faAngleRight"></fa-icon> Sex </span>
      </div>
      <!-- <input class="form-control"  type="text" formControlName='sex'> -->

      <div class="form-check form-check-inline">
        <label class="form-check-label">Female</label>
        <input class="form-check-input" type="radio" value="Female" formControlName='sex'>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">Male</label>
        <input class="form-check-input" type="radio" value="Male" formControlName='sex'>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf='f.sex.errors?.required && f.sex.touched'>
      This field is required
    </div>



    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faAngleRight"></fa-icon> Description </span>
      </div>
      <input class="form-control"  type="text" formControlName='description'>
    </div>
    <div class="alert alert-danger" *ngIf='f.description.errors?.required && f.description.touched'>
      This field is required
    </div>


    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faAngleRight"></fa-icon> Age </span>
      </div>
      <select class="custom-select" style="max-width: 120px;" formControlName="age">
        <option *ngFor='let age of ages'  >{{age}}</option>
      </select>
      <!-- <input class="form-control"  type="number" formControlName='age'> -->
    </div>
    <div class="alert alert-danger" *ngIf='f.age.errors?.required && f.age.touched'>
      This field is required
    </div>


    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faAngleRight"></fa-icon> Date </span>
      </div>
      <input class="form-control"  type="date" formControlName='date' readonly >
    </div>
    

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faAngleRight"></fa-icon> Image Url </span>
      </div>
      <input class="form-control" type="text" formControlName='image'>
    </div>
    <div class="alert alert-danger" *ngIf='f.image.errors?.required && f.image.touched'>
      This field is required
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [disabled]='form.invalid'> Add Animal </button>
    </div>
  </form>
</div>
