<div class="jumbotron">
    <h1 class="display-4">About us</h1>
    <p class="lead">We are small group of people, united by the love of animals!</p>
    <p class="lead">Our main job is to help animals in any possible case. We search safe homes for them so they can give their love to their owners. We take care of them to be well fed, healthy and sheltered, till they find the person who will love them the same way they will love him!</p>
    <p class="lead">If you would like to join our team, contact us</p>
    <a class="btn btn-primary btn-lg" routerLink='/contact' role="button">Join us</a>
</div>