header {
  display: flex;
  border-bottom: 1px solid #999;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}



img.lead-picture {

  width: 10rem;
  height: 10rem;
}

header .title {
  align-self: center;
  font-size: 3em;
}


ul {
  display: flex;
  align-items: center;
}


ul>li,
button {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
}

.notlogged,
.inside {
  display: flex;
}

.notlogged li,
.inside li {
  list-style: none outside;
  padding: 0 0.5em;
}

span {
  padding-right: 0.5em;
}


.btn.btn-dark {
  padding: 0.3em 0.5em;
  background-color: teal;
}

.btn.btn-dark:hover {
  background-color: tomato;
}


li>a:hover {
  background: darkblue;
  color: wheat;
}



a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: wheat;
}

a.title {
  background: rgb(233, 215, 215);
  padding: 0 0.4em;
  color: rgb(129, 7, 68);
}
